@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.layout{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.container{
    margin: 0;
    margin-left: 0px;
    padding: 0;
    padding-left: 15%;
    padding-right: 5%;
}
.navContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks > ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    list-style-type: none;
}

.navlinks > ul > li{
    font-size: 18px;
    color: #666666;
    padding: 40px 15px;
}
.buttonGroup{
    display: flex;
    align-content: center;
    align-items: center;
    padding-right: 20px;
}
.button{
    padding: 13px 30px;
    font-size: 16px;
    color: white;
    background: -webkit-gradient(linear, left top, right top, from(#00DED8), to(#00A7D5));
    border-radius: 55px;
    border: 0;
    box-shadow: 0 0 0 5px #c8eaf5;
    width: fit-content
}
.button:hover{
    background: -webkit-gradient(linear, left top,right top, from( #00A7D5), to(#00DED8));
    cursor: pointer;
}
.mobileMenuBar{
    padding: 8px;
    width: 40px;
    height: 32px;
    background: -webkit-gradient(linear, left top, right top, from(#00DED8), to(#00A7D5));;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-left: 30px;
    display: none;

}
.menubar{
    width: 100%;
    border: 1px solid white;
    margin-bottom: 3px;
    margin-top: 1px;
}

.hero{
    width: 100%;
    background: url('https://wpocean.com/html/tf/ummah-live/ummah/assets/images/slider/bg.png') no-repeat;
    background-size: 100%;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-content: center;

}
.subBackground{
    position: absolute;
    background: url('https://wpocean.com/html/tf/ummah-live/ummah/assets/images/slider/bg2.png');
    width: 468px;
    height: 336px;
    top: 360px;
    left: 0;

}
.content{
    position: relative;
    height: 910px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    z-index: 1000;
}
.subheading{
    color: #088998;
    font-size: 16px;
    margin: 0px 0px 20px;
    background: white;
    padding: 7px 20px;
    border-radius: 55px;
    width: fit-content;
    font-family: 'Poppins', sans-serif;
}
h2{
    color: #062265;
    font-size: 40px;
    font-weight: 500;
    margin: 0px 0px 22.5px;
    font-family: 'Poppins', sans-serif;
}
.description{
    color: #666666;
    margin: 0px 0px 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}
.text{
    color: whitesmoke;
    margin: 0px 0px 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}
.bounce {
    position: absolute;
    right: 150px;
    top: 300px;
    animation: bounce 3s linear infinite;
  }
  @keyframes bounce {
      0% { transform:translateY(0) translateX(0); }
      50%{transform: translateY(15px) translateX(7px);}
      100% { transform:translateY(0) translateX(0); }
    }
    
  .aboutUs{
    width: 100%;
    margin-top: 190px;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .aboutContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .aboutSubHeading{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color:  #00ded8;
  }
 
  .mosqueDevelopment{
    margin-top: 200px;
    background: url('https://wpocean.com/html/tf/ummah-live/ummah/assets/images/service/bg.png');
    height: fit-content;
    width: 100%;
    background-size: auto 910px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 5%;
  }
  .development{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 999;
  }

  .simpleButton{
    padding: 13px 30px;
    font-size: 16px;
    color: black;
    border-radius: 55px;
    border: 0;
    width: fit-content;
    background: white;
  }
  
.cardsContent{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.cards{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding-left: 8%;
}
.card{
   height: 280px;
   flex-basis: 22%;
   margin-right: 20px;
   margin-bottom: 30px;
   perspective: 1000px;
   opacity: 0.8;
   width: auto !important;
}
.innerCard{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.card:hover .innerCard{
    transform: rotateY(180deg);
}
.innerIcon, .cardBack{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cardBack{
    background: -webkit-gradient(linear, left top, right top, from(#00DED8), to(#00A7D5));
    color: white;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card1{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)), url('https://alhambra.axiomthemes.com/wp-content/uploads/2017/06/post-15.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

.card2{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('https://alhambra.axiomthemes.com/wp-content/uploads/2017/06/post-5.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
  }
   .card3{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('https://alhambra.axiomthemes.com/wp-content/uploads/2017/06/post-16.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
  }

  .card4{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://alhambra.axiomthemes.com/wp-content/uploads/2017/06/post-3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
  } 
  
   .card5{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('https://alhambra.axiomthemes.com/wp-content/uploads/2017/06/post-17.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .card6{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://alhambra.axiomthemes.com/wp-content/uploads/2017/06/post-14.jpg');
    background-size: cover;
    background-size: 100%;

  }
  .card7{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://alhambra.axiomthemes.com/wp-content/uploads/2017/06/post-11.jpg');
    background-size: cover;
    background-size: 100%;

  }

  .card8{
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('https://alhambra.axiomthemes.com/wp-content/uploads/2017/06/post-12.jpg');
    background-size: cover;
    background-size: 100%;

  }

  .icon{
    font-size: 40px;  
    color:white;
    padding-bottom: 20px;
  }
  .innerIcon{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cardheading{
    color: white;
    font-size: 20px;
    margin-top: 3px;
  }

  .stayInTouch{
    width: 100%;
    padding: 5% 10%;
  }
  .stayContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .stayIcons{
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .innerStayContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
.map{
    width: 100%;
    height: 800px;
}
@media all and (max-width:1400px){
    .container{
        padding: 0;
        padding-left: 6%;
    }
    .bounce{
        right: 0;
    }
    .devImg{
        margin-top: 90px;
        width: 400px;
        height: 400px;
    }
    .stayInTouch{
        padding: 5% 20%;
    }
}

@media all and (max-width:1000px){
    .container{
        padding-left: 12%;
    }
    .mobileMenuBar{
        display: block;
    }
    .navlinks{
        display: none;
    }
    .navContainer{
        width: 100%;
        padding: 20px;
    }
    .bounce{
        display: none;
    }
    .aboutUs{
        max-width: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
    }
    .development{
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
    }
    .simpleButton, .aboutSubHeading{
        margin-top: 20px;
    }
    .stayInTouch{
        padding: 5% 18%;
    }
}
@media all and (max-width:768px){
    .card{
        flex-basis: 45%;
    }
    .stayIcons{
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
    }
}