@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;800&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.layout{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.container{
    margin: 0;
    margin-left: 0px;
    padding: 0 15px;
    width: 1216px;
}
.navContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 122px;
    padding: 0 15px;
}
.navlinks > ul {
    display: flex;
    justify-content: space-between;
    align-content: center;
    list-style-type: none;
}

.navlinks > ul > li{
    font-size: 18px;
    color: #666666;
    padding: 40px 15px;
}

.button{
    padding: 13px 30px;
    font-size: 16px;
    color: white;
    background: -webkit-gradient(linear, left top, right top, from(#00DED8), to(#00A7D5));
    border-radius: 55px;
    border: 0;
    box-shadow: 0 0 0 5px #c8eaf5;
    width: fit-content
}
.button:hover{
    background: -webkit-gradient(linear, left top,right top, from( #00A7D5), to(#00DED8));
    cursor: pointer;
}

.hero{
    width: 100%;
    background: url('https://wpocean.com/html/tf/ummah-live/ummah/assets/images/slider/bg.png') no-repeat;
    background-size: auto 910px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;

}
.subBackground{
    position: absolute;
    background: url('https://wpocean.com/html/tf/ummah-live/ummah/assets/images/slider/bg2.png');
    width: 468px;
    height: 336px;
    top: 360px;
    left: 210px;

}
.content{
    position: relative;
    height: 910px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 20px;
    z-index: 1000;
}
.subheading{
    color: #088998;
    font-size: 16px;
    margin: 0px 0px 20px;
    background: white;
    padding: 7px 20px;
    border-radius: 55px;
    width: fit-content;
    font-family: 'Poppins', sans-serif;
}
h2{
    color: #062265;
    font-size: 40px;
    font-weight: 500;
    margin: 0px 0px 22.5px;
    font-family: 'Poppins', sans-serif;
}
.description{
    color: #666666;
    margin: 0px 0px 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}
.bounce {
    position: absolute;
    right: 150px;
    top: 300px;
    animation: bounce 3s linear infinite;
  }
  @keyframes bounce {
      0% { transform:translateY(0) translateX(0); }
      50%{transform: translateY(15px) translateX(7px);}
      100% { transform:translateY(0) translateX(0); }
    }
  .aboutUs{
    margin-top: 190px;
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  .aboutContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .aboutSubHeading{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color:  #00ded8;
  }
  .mosqueDevelopment{
    margin-top: 200px;
    background: url('https://wpocean.com/html/tf/ummah-live/ummah/assets/images/service/bg.png');
    height: 600px;
    width: 100%;
    background-size: auto 910px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .development{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    z-index: 999;
  }
  .developmentImg{
    position: absolute;
    z-index: -909;
    margin-right: 600px;
  }
  .simpleButton{
    padding: 13px 30px;
    font-size: 16px;
    color: black;
    border-radius: 55px;
    border: 0;
    width: fit-content;
    background: white;
  }